@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-MX4R3LERN51J_font-family: "Inter", sans-serif;
  --mixin-MX4R3LERN51J_font-size: 16px;
  --mixin-MX4R3LERN51J_font-weight: 400;
  --mixin-MX4R3LERN51J_font-style: normal;
  --mixin-MX4R3LERN51J_color: #535353;
  --mixin-MX4R3LERN51J_text-align: left;
  --mixin-MX4R3LERN51J_text-transform: none;
  --mixin-MX4R3LERN51J_line-height: 1.5;
  --mixin-MX4R3LERN51J_letter-spacing: normal;
  --mixin-MX4R3LERN51J_white-space: pre-wrap;
  --mixin-MX4R3LERN51J_user-select: text;
  --mixin-MX4R3LERN51J_text-decoration-line: none;
  --mixin-MX4R3LERN51J_text-overflow: clip;
  --mixin-Sad9zXcNzpJc_color: #000000;
  --mixin-Sad9zXcNzpJc_font-weight: 700;
  --mixin-Sad9zXcNzpJc_font-size: 64px;
  --mixin-Sad9zXcNzpJc_line-height: 1;
  --mixin-Sad9zXcNzpJc_letter-spacing: -1px;
  --mixin-Sad9zXcNzpJc_white-space: pre-wrap;
  --mixin-1yd_I-adh66m_color: #000000;
  --mixin-1yd_I-adh66m_font-size: 48px;
  --mixin-1yd_I-adh66m_font-weight: 700;
  --mixin-1yd_I-adh66m_letter-spacing: -0.5px;
  --mixin-1yd_I-adh66m_line-height: 1.1;
  --mixin-1yd_I-adh66m_white-space: pre-wrap;
  --mixin-0rHizd1rcsLh_color: #0070f3;
  --mixin-0rHizd1rcsLh_white-space: pre-wrap;
  --mixin-Rq5yP1b31EFx_color: #000000;
  --mixin-Rq5yP1b31EFx_font-size: 32px;
  --mixin-Rq5yP1b31EFx_font-weight: 600;
  --mixin-Rq5yP1b31EFx_line-height: 1.2;
  --mixin-Rq5yP1b31EFx_white-space: pre-wrap;
  --mixin-fQLiP3Odxv2__color: #000000;
  --mixin-fQLiP3Odxv2__font-size: 24px;
  --mixin-fQLiP3Odxv2__font-weight: 600;
  --mixin-fQLiP3Odxv2__line-height: 1.3;
  --mixin-fQLiP3Odxv2__white-space: pre-wrap;
  --mixin-dX8CXO9G_NZV_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-dX8CXO9G_NZV_border-bottom-color: #dddddd;
  --mixin-dX8CXO9G_NZV_border-bottom-style: solid;
  --mixin-dX8CXO9G_NZV_border-bottom-width: 1px;
  --mixin-dX8CXO9G_NZV_border-left-color: #dddddd;
  --mixin-dX8CXO9G_NZV_border-left-style: solid;
  --mixin-dX8CXO9G_NZV_border-left-width: 1px;
  --mixin-dX8CXO9G_NZV_border-right-color: #dddddd;
  --mixin-dX8CXO9G_NZV_border-right-style: solid;
  --mixin-dX8CXO9G_NZV_border-right-width: 1px;
  --mixin-dX8CXO9G_NZV_border-top-color: #dddddd;
  --mixin-dX8CXO9G_NZV_border-top-style: solid;
  --mixin-dX8CXO9G_NZV_border-top-width: 1px;
  --mixin-dX8CXO9G_NZV_border-bottom-left-radius: 3px;
  --mixin-dX8CXO9G_NZV_border-bottom-right-radius: 3px;
  --mixin-dX8CXO9G_NZV_border-top-left-radius: 3px;
  --mixin-dX8CXO9G_NZV_border-top-right-radius: 3px;
  --mixin-dX8CXO9G_NZV_font-family: "Inconsolata";
  --mixin-dX8CXO9G_NZV_padding-bottom: 1px;
  --mixin-dX8CXO9G_NZV_padding-left: 4px;
  --mixin-dX8CXO9G_NZV_padding-right: 4px;
  --mixin-dX8CXO9G_NZV_padding-top: 1px;
  --mixin-dX8CXO9G_NZV_white-space: pre-wrap;
  --mixin-qsn6Y3gZ4zAS_border-left-color: #dddddd;
  --mixin-qsn6Y3gZ4zAS_border-left-style: solid;
  --mixin-qsn6Y3gZ4zAS_border-left-width: 3px;
  --mixin-qsn6Y3gZ4zAS_color: #888888;
  --mixin-qsn6Y3gZ4zAS_padding-left: 10px;
  --mixin-qsn6Y3gZ4zAS_white-space: pre-wrap;
  --mixin-LxOC-KyBvvCb_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-LxOC-KyBvvCb_border-bottom-color: #dddddd;
  --mixin-LxOC-KyBvvCb_border-bottom-style: solid;
  --mixin-LxOC-KyBvvCb_border-bottom-width: 1px;
  --mixin-LxOC-KyBvvCb_border-left-color: #dddddd;
  --mixin-LxOC-KyBvvCb_border-left-style: solid;
  --mixin-LxOC-KyBvvCb_border-left-width: 1px;
  --mixin-LxOC-KyBvvCb_border-right-color: #dddddd;
  --mixin-LxOC-KyBvvCb_border-right-style: solid;
  --mixin-LxOC-KyBvvCb_border-right-width: 1px;
  --mixin-LxOC-KyBvvCb_border-top-color: #dddddd;
  --mixin-LxOC-KyBvvCb_border-top-style: solid;
  --mixin-LxOC-KyBvvCb_border-top-width: 1px;
  --mixin-LxOC-KyBvvCb_border-bottom-left-radius: 3px;
  --mixin-LxOC-KyBvvCb_border-bottom-right-radius: 3px;
  --mixin-LxOC-KyBvvCb_border-top-left-radius: 3px;
  --mixin-LxOC-KyBvvCb_border-top-right-radius: 3px;
  --mixin-LxOC-KyBvvCb_font-family: "Inconsolata";
  --mixin-LxOC-KyBvvCb_padding-bottom: 3px;
  --mixin-LxOC-KyBvvCb_padding-left: 6px;
  --mixin-LxOC-KyBvvCb_padding-right: 6px;
  --mixin-LxOC-KyBvvCb_padding-top: 3px;
  --mixin-LxOC-KyBvvCb_white-space: pre-wrap;
  --mixin-MsCC4n1Gb6eM_display: flex;
  --mixin-MsCC4n1Gb6eM_flex-direction: column;
  --mixin-MsCC4n1Gb6eM_align-items: stretch;
  --mixin-MsCC4n1Gb6eM_justify-content: flex-start;
  --mixin-MsCC4n1Gb6eM_list-style-position: outside;
  --mixin-MsCC4n1Gb6eM_padding-left: 40px;
  --mixin-MsCC4n1Gb6eM_position: relative;
  --mixin-MsCC4n1Gb6eM_list-style-type: disc;
  --mixin-MsCC4n1Gb6eM_white-space: pre-wrap;
  --mixin-CF7hA5jkb07g_display: flex;
  --mixin-CF7hA5jkb07g_flex-direction: column;
  --mixin-CF7hA5jkb07g_align-items: stretch;
  --mixin-CF7hA5jkb07g_justify-content: flex-start;
  --mixin-CF7hA5jkb07g_list-style-position: outside;
  --mixin-CF7hA5jkb07g_padding-left: 40px;
  --mixin-CF7hA5jkb07g_position: relative;
  --mixin-CF7hA5jkb07g_list-style-type: decimal;
  --mixin-CF7hA5jkb07g_white-space: pre-wrap;
  --mixin-TpxRw2dBH2j1_color: #000000;
  --mixin-TpxRw2dBH2j1_font-size: 20px;
  --mixin-TpxRw2dBH2j1_font-weight: 600;
  --mixin-TpxRw2dBH2j1_line-height: 1.5;
  --mixin-TpxRw2dBH2j1_white-space: pre-wrap;
  --mixin-p1AD0KalGEBl_color: #000000;
  --mixin-p1AD0KalGEBl_font-size: 16px;
  --mixin-p1AD0KalGEBl_font-weight: 600;
  --mixin-p1AD0KalGEBl_line-height: 1.5;
  --mixin-p1AD0KalGEBl_white-space: pre-wrap;
  --mixin-doOh0TLKqHnP_color: #3291ff;
  --mixin-doOh0TLKqHnP_white-space: pre-wrap;
  --mixin-kC4gf70HBJbK_white-space: pre-wrap;
  --mixin-XHgZF3sviuw0_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-MX4R3LERN51J_font-family);
  font-size: var(--mixin-MX4R3LERN51J_font-size);
  font-weight: var(--mixin-MX4R3LERN51J_font-weight);
  font-style: var(--mixin-MX4R3LERN51J_font-style);
  color: var(--mixin-MX4R3LERN51J_color);
  text-align: var(--mixin-MX4R3LERN51J_text-align);
  text-transform: var(--mixin-MX4R3LERN51J_text-transform);
  line-height: var(--mixin-MX4R3LERN51J_line-height);
  letter-spacing: var(--mixin-MX4R3LERN51J_letter-spacing);
  white-space: var(--mixin-MX4R3LERN51J_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-Sad9zXcNzpJc_color);
  font-weight: var(--mixin-Sad9zXcNzpJc_font-weight);
  font-size: var(--mixin-Sad9zXcNzpJc_font-size);
  line-height: var(--mixin-Sad9zXcNzpJc_line-height);
  letter-spacing: var(--mixin-Sad9zXcNzpJc_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-1yd_I-adh66m_color);
  font-size: var(--mixin-1yd_I-adh66m_font-size);
  font-weight: var(--mixin-1yd_I-adh66m_font-weight);
  letter-spacing: var(--mixin-1yd_I-adh66m_letter-spacing);
  line-height: var(--mixin-1yd_I-adh66m_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-0rHizd1rcsLh_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-Rq5yP1b31EFx_color);
  font-size: var(--mixin-Rq5yP1b31EFx_font-size);
  font-weight: var(--mixin-Rq5yP1b31EFx_font-weight);
  line-height: var(--mixin-Rq5yP1b31EFx_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-fQLiP3Odxv2__color);
  font-size: var(--mixin-fQLiP3Odxv2__font-size);
  font-weight: var(--mixin-fQLiP3Odxv2__font-weight);
  line-height: var(--mixin-fQLiP3Odxv2__line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-dX8CXO9G_NZV_font-family);
  border-radius: var(--mixin-dX8CXO9G_NZV_border-top-left-radius)
    var(--mixin-dX8CXO9G_NZV_border-top-right-radius)
    var(--mixin-dX8CXO9G_NZV_border-bottom-right-radius)
    var(--mixin-dX8CXO9G_NZV_border-bottom-left-radius);
  padding: var(--mixin-dX8CXO9G_NZV_padding-top)
    var(--mixin-dX8CXO9G_NZV_padding-right)
    var(--mixin-dX8CXO9G_NZV_padding-bottom)
    var(--mixin-dX8CXO9G_NZV_padding-left);
  border-top: var(--mixin-dX8CXO9G_NZV_border-top-width)
    var(--mixin-dX8CXO9G_NZV_border-top-style)
    var(--mixin-dX8CXO9G_NZV_border-top-color);
  border-right: var(--mixin-dX8CXO9G_NZV_border-right-width)
    var(--mixin-dX8CXO9G_NZV_border-right-style)
    var(--mixin-dX8CXO9G_NZV_border-right-color);
  border-bottom: var(--mixin-dX8CXO9G_NZV_border-bottom-width)
    var(--mixin-dX8CXO9G_NZV_border-bottom-style)
    var(--mixin-dX8CXO9G_NZV_border-bottom-color);
  border-left: var(--mixin-dX8CXO9G_NZV_border-left-width)
    var(--mixin-dX8CXO9G_NZV_border-left-style)
    var(--mixin-dX8CXO9G_NZV_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-qsn6Y3gZ4zAS_color);
  padding-left: var(--mixin-qsn6Y3gZ4zAS_padding-left);
  border-left: var(--mixin-qsn6Y3gZ4zAS_border-left-width)
    var(--mixin-qsn6Y3gZ4zAS_border-left-style)
    var(--mixin-qsn6Y3gZ4zAS_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-LxOC-KyBvvCb_font-family);
  border-radius: var(--mixin-LxOC-KyBvvCb_border-top-left-radius)
    var(--mixin-LxOC-KyBvvCb_border-top-right-radius)
    var(--mixin-LxOC-KyBvvCb_border-bottom-right-radius)
    var(--mixin-LxOC-KyBvvCb_border-bottom-left-radius);
  padding: var(--mixin-LxOC-KyBvvCb_padding-top)
    var(--mixin-LxOC-KyBvvCb_padding-right)
    var(--mixin-LxOC-KyBvvCb_padding-bottom)
    var(--mixin-LxOC-KyBvvCb_padding-left);
  border-top: var(--mixin-LxOC-KyBvvCb_border-top-width)
    var(--mixin-LxOC-KyBvvCb_border-top-style)
    var(--mixin-LxOC-KyBvvCb_border-top-color);
  border-right: var(--mixin-LxOC-KyBvvCb_border-right-width)
    var(--mixin-LxOC-KyBvvCb_border-right-style)
    var(--mixin-LxOC-KyBvvCb_border-right-color);
  border-bottom: var(--mixin-LxOC-KyBvvCb_border-bottom-width)
    var(--mixin-LxOC-KyBvvCb_border-bottom-style)
    var(--mixin-LxOC-KyBvvCb_border-bottom-color);
  border-left: var(--mixin-LxOC-KyBvvCb_border-left-width)
    var(--mixin-LxOC-KyBvvCb_border-left-style)
    var(--mixin-LxOC-KyBvvCb_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-MsCC4n1Gb6eM_display);
  flex-direction: var(--mixin-MsCC4n1Gb6eM_flex-direction);
  align-items: var(--mixin-MsCC4n1Gb6eM_align-items);
  justify-content: var(--mixin-MsCC4n1Gb6eM_justify-content);
  list-style-position: var(--mixin-MsCC4n1Gb6eM_list-style-position);
  padding-left: var(--mixin-MsCC4n1Gb6eM_padding-left);
  position: var(--mixin-MsCC4n1Gb6eM_position);
  list-style-type: var(--mixin-MsCC4n1Gb6eM_list-style-type);
  flex-column-gap: var(--mixin-MsCC4n1Gb6eM_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-CF7hA5jkb07g_display);
  flex-direction: var(--mixin-CF7hA5jkb07g_flex-direction);
  align-items: var(--mixin-CF7hA5jkb07g_align-items);
  justify-content: var(--mixin-CF7hA5jkb07g_justify-content);
  list-style-position: var(--mixin-CF7hA5jkb07g_list-style-position);
  padding-left: var(--mixin-CF7hA5jkb07g_padding-left);
  position: var(--mixin-CF7hA5jkb07g_position);
  list-style-type: var(--mixin-CF7hA5jkb07g_list-style-type);
  flex-column-gap: var(--mixin-CF7hA5jkb07g_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-TpxRw2dBH2j1_color);
  font-size: var(--mixin-TpxRw2dBH2j1_font-size);
  font-weight: var(--mixin-TpxRw2dBH2j1_font-weight);
  line-height: var(--mixin-TpxRw2dBH2j1_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-p1AD0KalGEBl_color);
  font-size: var(--mixin-p1AD0KalGEBl_font-size);
  font-weight: var(--mixin-p1AD0KalGEBl_font-weight);
  line-height: var(--mixin-p1AD0KalGEBl_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-doOh0TLKqHnP_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
